<div class="header">
    <mat-toolbar>
        <span>USENS-test Exchanges</span>
        <div class="header__rates">
            <mat-icon class="header__refresh" svgIcon="refresh" aria-hidden="false" aria-label="refresh" (click)="refresh()"></mat-icon>
            <ng-container *ngFor="let item of headerData | async">
                <div class="header__rate"> {{item.value | currency: item.currency}}</div>
            </ng-container>

            <!-- <div class="header__rate"> {{41.11 | currency: currencies.EUR}}</div> -->
        </div>
    </mat-toolbar>
</div>
