<div class="conversion" [formGroup]="form">
    <div class="conversion__side">
        <mat-form-field class="conversion__select">
            <mat-select formControlName="leftCurrentCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="conversion__input">
            <input type="number" matInput formControlName="leftCurrencyValue" (keydown.e)="$event.preventDefault()">
        </mat-form-field>
    </div>

    <mat-icon class="conversion__icon" svgIcon="conversion" aria-hidden="false" aria-label="refresh" (click)="switchCurrency()"></mat-icon>

    <div class="conversion__side">
        <mat-form-field class="conversion__select">
            <mat-select formControlName="rightCurrentCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="conversion__input">
            <input type="number" matInput formControlName="rightCurrencyValue">
        </mat-form-field>
    </div>
</div>
